Fantastic {
    color: green
}
li {
    color: orange
}
ol {
    color: lightcoral
}
h2 {
    color: red
}
h1 {
    color: red;
}
h3 {
    font-size: 40px;

}
p {
    font-size: 25px;
}
#Ilyen {
    color: grey;
}
#India {
    color: gold;
    
}
#is {
    color: lime;
    
}

img{
    width: 300px;
   
}